parameters:
    level: 9
    paths:
        - src
    ignoreErrors:
        # known one
        # Pohoda/DI/DocumentPartReflectFactory.php - just pass idiotic values as proved in tests
        -
            message: '#Dead catch \- ReflectionException is never thrown in the try block\.#'
            path: 'src/Pohoda/DI/DocumentPartReflectFactory.php'
        # Pohoda/DI/AgendaReflectFactory.php - just pass idiotic values as proved in tests
        -
            message: '#Dead catch \- ReflectionException is never thrown in the try block\.#'
            path: 'src/Pohoda/DI/AgendaReflectFactory.php'
        # strval, intval, floatval, boolval functions
        - '#Parameter \#1 \$va[rl]u?e? of function [sibf][tnol][rtoo][la]?t?val expects#'
